<div class="faculty-navbar u-container u-mb-s">
    <ul class="faculty-navbar__list">
        <li class="faculty-navbar__item">
            <a
                [routerLink]="['studies']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLinkActive]="'faculty-navbar__link--active'"
                class="faculty-navbar__link"
            >
                Studies
            </a>
        </li>
        <li class="faculty-navbar__item">
            <a
                [routerLink]="['about/history']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLinkActive]="'faculty-navbar__link--active'"
                class="faculty-navbar__link"
            >
                About
            </a>
        </li>
        <li class="faculty-navbar__item">
            <a
                [routerLink]="['location']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLinkActive]="'faculty-navbar__link--active'"
                class="faculty-navbar__link"
            >
                Location
            </a>
        </li>
        <li class="faculty-navbar__item">
            <a
                [routerLink]="['contact']"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLinkActive]="'faculty-navbar__link--active'"
                class="faculty-navbar__link"
            >
                Contact
            </a>
        </li>
    </ul>
</div>
