<nav class="about-nav">
    <ul class="about-nav__list u-flex u-flex-d-c">
        <li class="about-nav__item">
            <a
                routerLink="history"
                [routerLinkActive]="'about-nav__link--active'"
                class="about-nav__link"
            >
                History
                <svg
                    class="about-nav__icon"
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    xmlns="http://www.w3.org/2000/svg"
                    id="chevron-right"
                >
                    <path d="M0 12L5 7L0 2L1 0L8 7L1 14L0 12Z" fill="#2C2C2C" />
                </svg>
            </a>
        </li>
        <li class="about-nav__item">
            <a
                routerLink="president"
                [routerLinkActive]="'about-nav__link--active'"
                class="about-nav__link"
            >
                President
                <svg
                    class="about-nav__icon"
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    xmlns="http://www.w3.org/2000/svg"
                    id="chevron-right"
                >
                    <path d="M0 12L5 7L0 2L1 0L8 7L1 14L0 12Z" fill="#2C2C2C" />
                </svg>
            </a>
        </li>
        <li class="about-nav__item">
            <a
                routerLink="accreditation"
                [routerLinkActive]="'about-nav__link--active'"
                class="about-nav__link"
            >
                Accreditation
                <svg
                    class="about-nav__icon"
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    xmlns="http://www.w3.org/2000/svg"
                    id="chevron-right"
                >
                    <path d="M0 12L5 7L0 2L1 0L8 7L1 14L0 12Z" fill="#2C2C2C" />
                </svg>
            </a>
        </li>
        <li class="about-nav__item">
            <a
                routerLink="mission"
                [routerLinkActive]="'about-nav__link--active'"
                class="about-nav__link"
            >
                Mission
                <svg
                    class="about-nav__icon"
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    xmlns="http://www.w3.org/2000/svg"
                    id="chevron-right"
                >
                    <path d="M0 12L5 7L0 2L1 0L8 7L1 14L0 12Z" fill="#2C2C2C" />
                </svg>
            </a>
        </li>
    </ul>
</nav>
