// Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Defaults
html {
  font-size: 62.5%; // 1rem = 10px => 10px/16px(browser default) = 62.5%;
  box-sizing: border-box;
}

:focus {
  outline: 0;
}
