// numbers correspond to brightness of the color, -1 being the brightest one

:root {
  --color-primary: #da3438;
  --color-primary-dark: #c93437;
  --color-grey-light-1: #fbfbfb;
  --color-grey-light-2: #f8f8f8;
  --color-grey-light-3: #f6f5f5;
  --color-grey-light-4: #dedede;
  --color-grey-light-5: #bfbfbf;
  --color-grey-dark-1: #6f6f6f;
  --color-black-1: #3e3e3e;
  --color-black-2: #2c2c2c;
  --color-white: #fff;
  --color-blue: #09779a;
}
