// Roboto - Main font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
// Ropa Sans - Used for about page title
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ropa+Sans&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

hr {
  border: 0.1rem solid var(--color-grey-light-3);
}

// Headings
.h-xs {
  font-size: 2rem;
}

.h-sm {
  font-size: 3rem;
}
.h-m {
  font-size: 4rem;
}
.h-l {
  font-size: 8rem;
}
.h-xl {
  font-size: 10rem;
}

.h-fw-1 {
  font-weight: 300;
}
.h-fw-2 {
  font-weight: 400;
}

// Font weight 500
.h-fw-3 {
  font-weight: 500;
}

// Font weight 700
.h-fw-4 {
  font-weight: 700;
}

// Heading uppercase
.h-uc {
  text-transform: uppercase;
}

.t-c-white {
  color: #fff;
}
.t-c-black {
  color: var(--color-black-2);
}

// Line height
.l-h-1 {
  line-height: 1;
}
.l-h-17 {
  line-height: 1.7;
}
