<div class="faculty-studies u-container">
    <div class="faculty-studies__content">
        <app-search
            [facultyId]="faculty.id"
            (onSearch)="propagateStudyPrograms($event)"
        ></app-search>
        <app-faculty-list [studyPrograms]="studyPrograms"></app-faculty-list>
    </div>
    <div class="faculty-studies-card-container">
        <div class="faculty-studies-card faculty-studies-card--red">
            <h4 class="faculty-studies-card__heading">Apply Online</h4>
            <p class="faculty-studies-card__text">
                Apply for studies in the {{ name }}
            </p>
            <a
                [routerLink]="['/faculties', name, 'applyOnline']"
                class="btn btn--outline btn--outline-primary faculty-studies-card__btn"
                >APPLY ONLINE NOW</a
            >
        </div>
        <div class="faculty-studies-card faculty-studies-card--blue">
            <h4 class="faculty-studies-card__heading">Tuition and Fees</h4>
            <p class="faculty-studies-card__text">
                Explore tuition, fees and financial aid.
            </p>
            <a
                [routerLink]="['/faculties', name, 'tuitionAndFees']"
                class="btn btn--outline btn--outline-blue faculty-studies-card__btn"
                >READ MORE</a
            >
        </div>
    </div>
</div>
