<div class="faculty-studies u-container">
  <div class="faculty-studies__content">
    <app-search
      [placeholder]="'Search your program, topic or interest'"
    ></app-search>
    <div class="faculty-studies-dropdown-container u-mb-m">
      <a class="faculty-studies__dropdown">
        Degree
        <svg
          class="faculty-studies__dropdown-icon"
          width="20"
          height="12"
          viewBox="0 0 20 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.50002 0.800049L10 7.30005L16.5 0.800049L19.1 2.10005L10 11.2L0.900024 2.10005L3.50002 0.800049Z"
            fill="white"
          />
        </svg>
      </a>
      <a class="faculty-studies__dropdown">
        Campus
        <svg
          class="faculty-studies__dropdown-icon"
          width="20"
          height="12"
          viewBox="0 0 20 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.50002 0.800049L10 7.30005L16.5 0.800049L19.1 2.10005L10 11.2L0.900024 2.10005L3.50002 0.800049Z"
            fill="white"
          />
        </svg>
      </a>
    </div>
    <app-faculty-list></app-faculty-list>
  </div>
  <div class="faculty-studies-card-container">
    <div class="faculty-studies-card faculty-studies-card--red">
      <h4 class="faculty-studies-card__heading">Apply Online</h4>
      <p class="faculty-studies-card__text">
        Apply for studies in the {{ name }}
      </p>
      <a
        [routerLink]="['/faculties', name, 'applyOnline']"
        class="btn btn--outline btn--outline-primary faculty-studies-card__btn"
        >APPLY ONLINE NOW</a
      >
    </div>
    <div class="faculty-studies-card faculty-studies-card--blue">
      <h4 class="faculty-studies-card__heading">Tuition and Fees</h4>
      <p class="faculty-studies-card__text">
        Explore tuition, fees and financial aid.
      </p>
      <a
        [routerLink]="['/faculties', name, 'tuitionAndFees']"
        class="btn btn--outline btn--outline-blue faculty-studies-card__btn"
        >READ MORE</a
      >
    </div>
  </div>
</div>
