<div class="ula-events u-container u-mb-xl">
  <h1 class="h-m h-fw-1 u-mb-m ula-events__heading">All upcoming events</h1>
  <div class="ula-events__content u-mb-xl">
    <app-featured-event
      [imagePath]="'/assets/img/featured-event.png'"
      [title]="'Open Source Summit'"
      [date]="'2020-05-01 08:12:36'"
      [description]="
        'Open Source Summit connects the open source ecosystem 
    under one roof. It\'s a unique environment for cross-collaboration
    between developers, sysadmins'
      "
    >
    </app-featured-event>
    <!-- @TODO -->
    <!-- Add hr after every element in the list  -->
    <app-default-event-list></app-default-event-list>
  </div>
</div>
