<h1 class="u-mb-m h-m">Students</h1>
<div class="col-md-8 mx-auto u-mb-m">
    <h4>Search students</h4>
    <div class="form-group">
        <input
            (input)="searchStudents($event.target.value)"
            id="searchParam"
            class="form-control"
            type="text"
            name="searchParam"
            placeholder="Search by name, transcript identifier or year of enrollment"
        />
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Transcript identifier</th>
            <th scope="col">Date of enrollment</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td *ngIf="student.student.user.profileImage != undefined">
                <img
                    class="table-image"
                    [src]="getStudentImage(student.student.user.profileImage)"
                    (load)="getStudentImage(student.student.user.profileImage)"
                    alt="{{ student.student.user.firstName }} {{
                        student.student.user.lastName
                    }} profile image"
                />
            </td>
            <td>
                {{ student.student.user.firstName }}
                {{ student.student.user.lastName }}
            </td>
            <td>{{ student.student.user.email }}</td>
            <td>{{ student.student.phoneNumber }}</td>
            <td>{{ student.transcriptIdentifier }}</td>
            <td>{{ student.dateOfEnrollment | date: "MM-dd-yyyy" }}</td>
            <td>
                <a
                    [routerLink]="['/dashboard/teacher/students', student.id]"
                    class="btn btn-primary"
                    >Open</a
                >
            </td>
        </tr>
    </tbody>
</table>

<nav>
    <ul class="pagination u-flex-jc-c u-mt-s">
        <li class="page-item u-flex u-flex-jc-sb w-25">
            <a
                class="page-link"
                aria-label="Previous"
                (click)="decreaseCurrentPage()"
                (click)="getStudents(currentPage)"
            >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>

            <a
                class="page-link"
                aria-label="Next"
                (click)="increaseCurrentPage()"
                (click)="getStudents(currentPage)"
            >
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
