<h1 class="about-university__heading">Vitae purus ipsum, justo, vesibulum</h1>
<p class="about-university__text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dolores aut
  similique ad eligendi in, cumque repellendus pariatur fugit incidunt quisquam
  esse blanditiis ducimus culpa nobis quis dolore eveniet architecto?
</p>
<h4 class="about-university__heading">Vitae purus ipsum, justo, vesibulum</h4>
<p class="about-university__text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dolores aut
  similique ad eligendi in, cumque repellendus pariatur fugit incidunt quisquam
  esse blanditiis ducimus culpa nobis quis dolore eveniet architecto?
</p>
<h1 class="about-university__heading">Vitae purus ipsum, justo, vesibulum</h1>
<p class="about-university__text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dolores aut
  similique ad eligendi in, cumque repellendus pariatur fugit incidunt quisquam
  esse blanditiis ducimus culpa nobis quis dolore eveniet architecto?
</p>
<h4 class="about-university__heading">Vitae purus ipsum, justo, vesibulum</h4>
<p class="about-university__text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dolores aut
  similique ad eligendi in, cumque repellendus pariatur fugit incidunt quisquam
  esse blanditiis ducimus culpa nobis quis dolore eveniet architecto?
</p>
<h1 class="about-university__heading">Vitae purus ipsum, justo, vesibulum</h1>
<p class="about-university__text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dolores aut
  similique ad eligendi in, cumque repellendus pariatur fugit incidunt quisquam
  esse blanditiis ducimus culpa nobis quis dolore eveniet architecto?
</p>
<h4 class="about-university__heading">Vitae purus ipsum, justo, vesibulum</h4>
<p class="about-university__text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dolores aut
  similique ad eligendi in, cumque repellendus pariatur fugit incidunt quisquam
  esse blanditiis ducimus culpa nobis quis dolore eveniet architecto?
</p>
