<a class="faculty-list-item">
  <div class="faculty-list-item__container">
    <div class="faculty-list-item__image-wrap">
      <img
        src="{{ imagePath }}"
        alt="{{ text }}"
        class="faculty-list-item__image"
      />
    </div>
    <h4 class="faculty-list-item__text">{{ text }}</h4>
  </div>
  <div class="faculty-list-item__icon">
    <svg
      width="44"
      height="26"
      viewBox="0 0 44 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M31.3323 25.0952L29.2994 23.0623L37.9242 14.4376H0.4375V11.5625H37.9239L29.2994 2.93804L31.3323 0.905151L43.4276 13.0002L31.3323 25.0952Z"
        fill="#A9A9A9"
      />
    </svg>
  </div>
</a>
