<div class="u-container u-mt-xl u-mb-xl find-out-more">
  <h1 class="h-m h-fw-1 find-out-more__heading">Find out more about ULA</h1>
  <div class="u-flex u-flex-flow-rw u-mt-l u-flex-jc-se u-mb-xl">
    <app-find-out-more-card
      [iconPath]="'/assets/svg/campus-icon.svg'"
      [title]="'Campus'"
      [link]="'/about/campus'"
    ></app-find-out-more-card>
    <app-find-out-more-card
      [iconPath]="'/assets/svg/forum-icon.svg'"
      [title]="'Forum'"
      [link]="'/forum'"
    ></app-find-out-more-card>
    <app-find-out-more-card
      [iconPath]="'/assets/svg/professor-icon.svg'"
      [title]="'Professors'"
      [link]="'/about/teaching-staff'"
    ></app-find-out-more-card>
    <app-find-out-more-card
      [iconPath]="'/assets/svg/online-learning-icon.svg'"
      [title]="'Online Learning'"
      [link]="'/about/online-learning'"
    ></app-find-out-more-card>
    <app-find-out-more-card
      [iconPath]="'/assets/svg/gallery-icon.svg'"
      [title]="'Gallery'"
      [link]="'/about/gallery'"
    ></app-find-out-more-card>
  </div>
  <hr />
</div>
