package {{ service.package }}.service;

import {{ service.package }}.model.{{ service.model_name }};
import {{ service.package }}.repository.{{ service.repository }};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service
public class {{ service.name }}
{

    @Autowired
    private {{ service.repository }} {{ service.repository[0].lower() }}{{ service.repository[1:] }};

    
    public Iterable<{{ service.model_name }}> findAll(){
        return {{ service.repository[0].lower() }}{{ service.repository[1:] }}.findAll();
    }
    public {{ service.model_name }} findById(Long id){
        return {{ service.repository[0].lower() }}{{ service.repository[1:] }}.findById(id).orElse(null);
    }
    
    public void save({{ service.model_name }} {{ service.model_name[0].lower() }}{{ service.model_name[1:] }}){
        {{ service.repository[0].lower() }}{{ service.repository[1:] }}.save({{ service.model_name[0].lower() }}{{ service.model_name[1:] }});
    }
    public void delete(Long id){
        {{ service.repository[0].lower() }}{{ service.repository[1:] }}.deleteById(id);
    }

}
