<nav class="ula-navbar u-pt-xs">
    <div class="u-container u-flex u-flex-jc-sb u-flex-ai-c">
        <a class="ula-navbar__logo" routerLink="">
            <app-logo [imageSource]="getImageSrc()"></app-logo>
        </a>
        <ul
            class="ula-navbar__list u-flex"
            [ngClass]="navShown ? 'ula-navbar__list--active' : ''"
        >
            <li
                class="ula-navbar__item"
                [routerLinkActive]="'ula-navbar__item--active'"
            >
                <a
                    [routerLink]="['/about']"
                    [routerLinkActive]="'ula-navbar__link--active'"
                    class="ula-navbar__link"
                    [class.ula-navbar__link--white]="white()"
                    >About ULA</a
                >
            </li>
            <li
                class="ula-navbar__item"
                [routerLinkActive]="'ula-navbar__item--active'"
            >
                <a
                    class="ula-navbar__link"
                    [routerLink]="['/faculties']"
                    routerLinkActive="ula-navbar__link--active"
                    [class.ula-navbar__link--white]="white()"
                >
                    Faculties
                </a>
            </li>

            <li
                class="ula-navbar__item"
                [routerLinkActive]="'ula-navbar__item--active'"
            >
                <a
                    [routerLink]="['/research']"
                    routerLinkActive="ula-navbar__link--active"
                    class="ula-navbar__link"
                    [class.ula-navbar__link--white]="white()"
                    >Research</a
                >
            </li>
            <li
                class="ula-navbar__item"
                [routerLinkActive]="'ula-navbar__item--active'"
            >
                <a
                    [routerLink]="['/contact']"
                    class="ula-navbar__link"
                    [class.ula-navbar__link--white]="white()"
                    routerLinkActive="ula-navbar__link--active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Contact</a
                >
            </li>
            <li
                class="ula-navbar__item"
                [routerLinkActive]="'ula-navbar__item--active'"
            >
                <a
                    [routerLink]="['/auth']"
                    class="ula-navbar__link"
                    [class.ula-navbar__link--white]="white()"
                    routerLinkActive="ula-navbar__link--active"
                    >Online services</a
                >
            </li>
        </ul>
        <div
            class="ula-navbar__toggler"
            (click)="toggle()"
            [ngClass]="navShown ? 'ula-navbar__toggler--close' : ''"
            [class.ula-navbar__toggler--dark]="darkToggler()"
        ></div>
    </div>
</nav>
