<hr class="u-container" />
<div
  class="footer u-container u-flex u-flex-d-r u-flex-jc-sb u-flex-ai-c u-pb-l u-mt-xl"
>
  <div class="footer__group u-flex-1">
    <img
      src="/assets/img/ula_logo_red_dark.png"
      alt="ULA Logo"
      class="footer__logo"
    />
  </div>
  <div class="footer__group">
    <h1 class="footer__heading">Helpful links</h1>
    <ul class="footer__list">
      <li class="footer__item">
        <a href="#" class="footer__link">Contact us</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Privacy Policy</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Accessibility at ULA</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Carreers</a>
      </li>
    </ul>
  </div>
  <div class="footer__group">
    <h1 class="footer__heading">Visiting ULA</h1>
    <ul class="footer__list">
      <li class="footer__item">
        <a href="#" class="footer__link">Campus Tours</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Museums & Galleries</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Maps & Directions</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">ULA Visitor Centar</a>
      </li>
    </ul>
  </div>
</div>
<div class="u-flex u-flex-jc-c u-container u-pb-xs">
  <div class="footer__copyright">
    University of Los Angeles © {{ currentYear }}
    <br />
    <a href="https://www.omaririskic.com/">Omar Iriskic</a>
    and <a href="https://github.com/laki098">Lazar Filipovic</a>
  </div>
</div>
