<!-- Select upcoming events from store and do a foreach -->
<div class="default-event-list">
  <app-default-event
    [title]="'Pycon'"
    [date]="'2020-05-01 08:12:36'"
    [description]="
      'The international community for the Python programming language holds more than 50 PyCon conferences annualy'
    "
  ></app-default-event>
  <app-default-event
    [title]="'Laracon'"
    [date]="'2020-05-01 08:12:36'"
    [description]="
      'Europe\'s Leading Laravel Conference Lorem ipsum dolor dogma mana estu mina ves language holds more Lorem maves levati'
    "
  ></app-default-event>
  <app-default-event
    [title]="'Ignite'"
    [date]="'2020-05-01 08:12:36'"
    [description]="
      'Microsoft is taking its popular Ignite conference on the road this year'
    "
  ></app-default-event>
</div>
