.page-link {
    cursor: pointer;
}
.row-alert {
    background-color: #a64452;
    color: #fff;
}
.row-reminder {
    background-color: #90ae72;
    color: #fff;
}
.row-update {
    background-color: #f2b60f;
    color: #000;
}
