server:
  port: 8081
spring:
  application:
    name: ula-auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/ula_auth?transformedBitIsBoolean=true
    username: username
    password: password
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
  properties:
    hibernate:
      jdbc:
        lob:
          non_contextual_creation: true
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect

  jackson:
    mapper:
      default-view-inclusion: true


feign:
  hystrix:
    enabled: true

auth:
  token:
    secret: github-secret

