<div class="about-header u-container u-flex u-flex-d-c u-flex-ai-c">
  <div class="about-header__img-container u-mt-xl">
    <div class="about-header__img-wrap u-mt-xl">
      <img
        src="/assets/img/ucla_1.jpg"
        alt="ULA Image 1"
        class="about-header__img"
      />
    </div>
    <div class="about-header__img-wrap">
      <img
        src="/assets/img/ucla_2.jpg"
        alt="ULA Image 2"
        class="about-header__img"
      />
    </div>
    <div class="about-header__img-wrap">
      <img
        src="/assets/img/ucla_3.jpg"
        alt="ULA Image 2"
        class="about-header__img"
      />
    </div>
    <div class="about-header__img-wrap u-mt-xl">
      <img
        src="/assets/img/ucla_4.jpg"
        alt="ULA Image 4"
        class="about-header__img"
      />
    </div>
  </div>
  <h1 class="about-header__heading u-mb-m">University of Los Angeles</h1>

  <hr />
</div>
