<div class="news-card u-flex u-flex-d-c">
  <img src="/assets/img/news-image.png" alt="Article" class="news-card__img" />
  <div class="news-card__content">
    <h3 class="news-card__heading">Charging with WiFi</h3>
    <p class="news-card__text">
      Device for harnessing terahertz radiation might enable self-powering
      implants, cellphones, other portable electronics.
    </p>
  </div>
  <div class="news-card__action u-mt-xs u-pb-xs">
    <a href="#" class="news-card__btn">Read more</a>
  </div>
</div>
