@import "~bootstrap/dist/css/bootstrap.min.css";

.login {
    font-size: 2.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    &__btn {
        background-color: var(--color-primary) !important;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    &__input {
        font-size: 2rem;
    }
    &__label {
        font-size: 2rem;
    }
}
